label {font-weight:900;}

footer {
    border-top: 1px solid #DDD;
    text-align: center;
    font-size: 0.8em;
    background-color:#1a1a1a;
    color:#fff;
    height:30px;
    margin-top:-30px;
    position:relative;
}


#id_wrapper { background-color:#1a1a1a}

#banner_wrapper {background-color:#4a4a4a}

.append-bottom {
    padding-bottom:10px;
}

.prepend-top {
    padding-top:10px;
}

.callout a.close { color: rgb(51,51,51); position: absolute; right: 4px; top: -1px; font-size: 1.5em; opacity: 0.5; padding: 4px; font-weight:bold}
.callout a.close:hover, .callout a.close:focus { opacity: 0.7; }


#id_wrapper {
    font-weight:bold;
    vertical-align:middle;
    background-color:#3D5169;
    height:30px;
    color:#fff;
}

#id_container {
}

#identity_container a {
    font-weight:bold;
    vertical-align:middle;
    color:#fff;
    font-size:.9em;
}

#id_wrapper a {
    text-decoration:none;
}

ul#nav {

}
ul.drop a {
    display:inline;
    color: #fff;
    text-decoration: none;
}
ul.drop, ul.drop li, ul.drop ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}
ul.drop {
    position: relative;
    z-index: 597;
    float: right;
}
ul.drop > li {
    display:inline-block;
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
    margin-left:25px !important;
    margin-top:-8px !important;
}
ul.drop li.hover, ul.drop li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
ul.drop ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 598;
    background: #3D5169;
    padding: 3px 8px;
    width:150px;
}
ul.drop ul li {
    float: none;
    display:block;
}
ul.drop ul ul {
    top: -2px;
    left: 100%;
}
ul.drop li:hover > ul {
    visibility: visible;
}

.table_row {
    padding-top:7px;
}
.table_row:nth-child(odd) {
    background-color:#eee;
}

.table_row:hover {
    background-color:#dedede;
}

input.button, a.button {
    background-color:rgb(61, 81, 105) !important;
    color:#fff !important;
}

ul.tabs {
    border:0 !important;
}

div.tabs-content {
    border:0 !important;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background-color:#fff !important;
    font-weight:bold !important;
}
.tabs-title, .tabs-title > a {
    padding: 4px 24px !important;
    font-size:0.9em !important;
}

/* Selective2 Customizations */
input.select2-search__field {
    height:30px !important;
    margin-bottom:5px !important;
}

ul.select2-selection__rendered {
    line-height:1.6em !important;
}

.select2-container--default, .select2-container--multiple, .select2-selection {
    border-radius:0 !important;
    border-color:rgb(202,202,202) !important;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.select2-selection__choice {
    background-color:rgb(61, 81, 105) !important;
    color:#fff !important;
    border-radius:0 !important;
}

.select2-selection__choice__remove {
    color:#fff !important;
    float:right;
    margin-left:3px;
}